/*-----------------------------------------------------------------------------------------------------
 login and signup form 
 ------------------------------------------------------------------------------------------------------*/
 .login-section, .signup-section
 {
   position: absolute;
   width: 100vw;
   height: 150vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #fff;
   gap: 2px;
   flex-wrap: wrap;
   overflow: hidden;
 }
 .login-section::before , .signup-section::before
 {
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   background: linear-gradient(#fff,#0f0,#fff);
   animation: animate 5s linear infinite;
 }
 @keyframes animate 
 {
   0%
   {
     transform: translateY(-100%);
   }
   100%
   {
     transform: translateY(100%);
   }
 }
 
 .login-section span,.signup-section span 
 {
   position: relative;
   display: block;
   width: calc(6.25vw - 2px);
   height: calc(6.25vw - 2px);
   background: #fff;
   z-index: 2;
   
   transition: 1.5s;
 }
 .login-section span:hover ,.signup-section span:hover
 {
   background: #0f0;
   transition: 0s;
 }
 
 .login-section .signin,.signup-section .signin
 {
   position: absolute;
   
   width: 500px;
   background: #222; 
   z-index: 1000;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 40px;
   border-radius: 4px;
   box-shadow: 0 15px 35px rgba(0,0,0,9);
 }
 .login-section .signin .content ,.signup-section .signin .content
 {
   position: relative;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 40px;
 }
 .login-section .signin .content h2 ,.signup-section .signin .content h2
 {
   font-size: 2em;
   color: #0f0;
   text-transform: uppercase;
 }
 .login-section .signin .content .form ,.signup-section .signin .content .form
 {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 25px;
 }
 .login-section .signin .content .form .inputBox,.signup-section .signin .content .form .inputBox
 {
   position: relative;
   width: 100%;
 }
 .login-section .signin .content .form .inputBox input ,.signup-section .signin .content .form .inputBox input
 {
   position: relative;
   width: 100%;
   background: #333;
   border: none;
   outline: none;
   padding: 25px 10px 7.5px;
   border-radius: 4px;
   color: #26a356;
   font-weight: 500;
   font-size: 1em;
 }
 .login-section .signin .content .form .inputBox i ,.signup-section .signin .content .form .inputBox i
 {
   position: absolute;
   left: 0;
   padding: 15px 10px;
   font-style: normal;
   color: #aaa;
   transition: 0.5s;
   pointer-events: none;
 }
 .signin .content .form .inputBox input:focus ~ i,
 .signin .content .form .inputBox input:valid ~ i
 {
   transform: translateY(-7.5px);
   font-size: 0.8em;
   color: #222;
 }
 .signin .content .form .links 
 {
   position: relative;
   width: 100%;
   display: flex;
   justify-content: space-between;
 }
 .signin .content .form .links a 
 {
   color: #222;
   text-decoration: none;
 }
 .signin .content .form .links a:nth-child(2)
 {
   color: #0f0;
   font-weight: 600;
 }
 .signin .content .form .inputBox input[type="submit"]
 {
   padding: 10px;
   background: #0f0;
   color: #000;
   font-weight: 600;
   font-size: 1.35em;
   letter-spacing: 0.05em;
   cursor: pointer;
 }
 input[type="submit"]:active
 {
   opacity: 0.6;
 }
 @media (max-width: 900px)
 {
   .login-section span ,.signup-section span
   {
     width: calc(10vw - 2px);
     height: calc(10vw - 2px);
   }
 }
 @media (max-width: 600px)
 {
   .login-section span ,.signup-section span
   {
     width: calc(20vw - 2px);
     height: calc(20vw - 2px);
   }
 }
 .logement-img-container{
   position: fixed;
   height: 50vh;
   left:100px;
   top: 150px;
   z-index: -1;
 }
 .logement-img-container img{
   border-radius: 15px;
   height: 100%;
   object-fit: contain;
   opacity: 50%;
 }
 .logout-Btn{
   display: flex;
   align-items: center;
   justify-content: flex-start;
   width: 45px;
   height: 45px;
   border: none;
   border-radius: 50%;
   cursor: pointer;
   position: relative;
   overflow: hidden;
   transition-duration: .3s;
   box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
   background-color: rgb(255, 65, 65);
 }
 
 /* plus sign */
 .logout-sign {
   width: 100%;
   transition-duration: .3s;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .logout-sign svg {
   width: 17px;
 }
 
 .logout-sign svg path {
   fill: white;
 }
 /* text */
 .logout-text {
   position: absolute;
   right: 0%;
   width: 0%;
   opacity: 0;
   color: white;
   font-size: 1.2em;
   font-weight: 600;
   transition-duration: .3s;
 }
 /* hover effect on button width */
 .logout-Btn:hover {
   width: 125px;
   border-radius: 40px;
   transition-duration: .3s;
 }
 
 .logout-Btn:hover .logout-sign {
   width: 30%;
   transition-duration: .3s;
   padding-left: 20px;
 }
 /* hover effect button's text */
 .logout-Btn:hover .logout-text {
   opacity: 1;
   width: 70%;
   transition-duration: .3s;
   padding-right: 10px;
 }
 /* button click effect*/
 .logout-Btn:active {
   transform: translate(2px ,2px);
 }


 /* ------------------------------------------------------------------------------------------------------- */
 /* ---------------------------- user fild ------------------------------------------ */
 /* ------------------------------------------------------------------------------------------------------- */

 .user-fild{
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .user-fild > div{
    margin: 0 10px;
 }
 #active-user-btn-message {
    --text-color: #000;
    --bg-color-sup: #d2d2d2;
    --bg-color: #f4f4f4;
    --bg-hover-color: #ffffff;
    --online-status: #00da00;
    --font-size: 16px;
    --btn-transition: all 0.2s ease-out;
  }
  
  .active-user-button-message {
    display: flex;
    justify-content: center;
    align-items: center;
    font: 400 var(--font-size) Helvetica Neue, sans-serif;
    box-shadow: 0 0 2.17382px rgba(0,0,0,.049),0 1.75px 6.01034px rgba(0,0,0,.07),0 3.63px 14.4706px rgba(0,0,0,.091),0 22px 48px rgba(0,0,0,.14);
    background-color: var(--bg-color);
    border-radius: 68px;
    cursor: pointer;
    padding: 6px 10px 6px 6px;
    width: fit-content;
    height: 40px;
    border: 0;
    overflow: hidden;
    position: relative;
    transition: var(--btn-transition);
  }
  
  .active-user-button-message:hover {
    height: 56px;
    padding: 8px 20px 8px 8px;
    background-color: var(--bg-hover-color);
    transition: var(--btn-transition);
  }
  
  .active-user-button-message:active {
    transform: scale(0.99);
  }
  
  .active-user-content-avatar {
    width: 30px;
    height: 30px;
    margin: 0;
    transition: var(--btn-transition);
    position: relative;
  }
  
  .active-user-button-message:hover .active-user-content-avatar {
    width: 40px;
    height: 40px;
  }
  
  .active-user-avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--bg-color-sup);
  }
  
  .active-user-user-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .active-user-status-user {
    position: absolute;
    width: 6px;
    height: 6px;
    right: 1px;
    bottom: 1px;
    border-radius: 50%;
    outline: solid 2px var(--bg-color);
    background-color: var(--online-status);
    transition: var(--btn-transition);
    animation: active-status 2s ease-in-out infinite;
  }
  
  .active-user-button-message:hover .active-user-status-user {
    width: 10px;
    height: 10px;
    right: 1px;
    bottom: 1px;
    outline: solid 3px var(--bg-hover-color);
  }
  
  .active-user-notice-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 8px;
    text-align: initial;
    color: var(--text-color);
  }
  
  .active-user-username {
    letter-spacing: -6px;
    height: 0;
    opacity: 0;
    transform: translateY(-20px);
    transition: var(--btn-transition);
  }
  
  .active-user-user-id {
    font-size: 12px;
    letter-spacing: -6px;
    height: 0;
    opacity: 0;
    transform: translateY(10px);
    transition: var(--btn-transition);
  }
  
  .active-user-lable-message {
    display: flex;
    align-items: center;
    opacity: 1;
    transform: scaleY(1);
    transition: var(--btn-transition);
  }
  
  .active-user-button-message:hover .active-user-username {
    height: auto;
    letter-spacing: normal;
    opacity: 1;
    transform: translateY(0);
    transition: var(--btn-transition);
  }
  
  .active-user-button-message:hover .active-user-user-id {
    height: auto;
    letter-spacing: normal;
    opacity: 1;
    transform: translateY(0);
    transition: var(--btn-transition);
  }
  
  .active-user-button-message:hover .active-user-lable-message {
    height: 0;
    transform: scaleY(0);
    transition: var(--btn-transition);
  }
  
  .active-user-lable-message, .active-user-username {
    font-weight: 600;
  }
  
  .active-user-number-message {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 8px;
    font-size: 12px;
    width: 16px;
    height: 16px;
    background-color: var(--bg-color-sup);
    border-radius: 20px;
  }
  
  /*==============================================*/
  @keyframes active-status {
    0% {
      background-color: var(--online-status);
    }
  
    33.33% {
      background-color: #93e200;
    }
  
    66.33% {
      background-color: #93e200;
    }
  
    100% {
      background-color: var(--online-status);
    }
  }

  .main-logo-button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  
  /* main-logo-button styling */
  .main-logo-button {
    --border-right: 6px;
    --text-stroke-color: rgba(0, 0, 0, 0.6);
    --animation-color: #37FF8B;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  /* this is the text, when you hover on main-logo-button */
  .main-logo-button-hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  /* hover */
  .main-logo-button:hover .main-logo-button-hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }

  .login-button {
    position: relative;
    display: flex;
    
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.1em;
    border-radius: 0.3em;
    width: 5rem;
    height: 2.5rem;
    padding: 0 50px;
    background: rgba(0, 0, 0, 0);
    color: black;
    overflow: hidden;
  }
  
  .login-button i {
    color: black;
    position: absolute;
    left: -50%;
    font-weight: 800;
    font-size: 1.2rem;
    z-index: 11;
    margin-right: 0.5em;
    transition: .4s ease;
  }
  
  .login-button span {
    position: relative;
    z-index: 10;
    display: inline-flex;
    align-items: center;
    font-size: 1rem;
    padding: 0.8em 1.2em 0.8em 1.05em;
    transition: .1s ease;
  }

  .login-button:hover span{
    color: transparent;
  }

  
  .login-button::before {
    content: "";
    position: absolute;
    border-radius: 40%;
    --size: 200px;
    left: -200%;
    top: 200%;
    width: var(--size);
    height: var(--size);
    z-index: 0;
    background: linear-gradient(to right, #26a356, #00ff00);
    transition: 01s ease;
  }
  .login-button:hover {
    transform: scale(1.1);
    flex-direction: column;
    color: #f4f4f4;
    box-shadow: 0 0 30px #00da00;

  }
  .login-button:hover i{
    left: 30%;
    font-weight: 800;
    font-size: 1.5rem;
    color: #f4f4f4;
  }
  .login-button:hover::before {
    transform: translate(90%,-90%);

  }
  
  .login-button:active {
    transform: scale(0.93);
  }
  
  .signup-button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 2px solid rgb(61, 255, 69);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    width: 5rem;
    height: 2.5rem;
    letter-spacing: 2px;
    background: transparent;
    color: rgb(61, 255, 69);;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .signup-button:hover {
    background: rgb(61, 255, 106);
    color: #f4f4f4;
    box-shadow: 0 0 30px 5px rgba(0, 255, 0,1);
  }
  
  .signup-button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  .signup-button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  .signup-button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }
  
  .glass-style-card {
    width: 190px;
    height: 254px;
    transition: all 0.2s;
    position: relative;
  }
  
  
  .glass-style-card .card-inner {
    width: inherit;
    height: inherit;
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgb(0, 0, 0);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .glass-style-card .card-inner:hover{
    text-shadow: 0 0 20px #0f0;
  }

  .glass-style-card .card-box-ico-style{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(30%, 50%);
    transform: rotate(45deg);
    width: 130px;
    height: 130px;
    background: radial-gradient(#b0e633, #53ef7d);
    border-radius: 50%;
    animation: move-upanddown 3s ease infinite alternate-reverse;
    transition: .5s ease;
  }
  .glass-style-card:hover .card-box-ico-style{
    margin-left: 130px;

  }
  
  .glass-style-card .card-box-ico-style span{
    font-size: 5rem;
  }
  .glass-style-card:hover {
    transform: scale(1.04) rotate(5deg);
    box-shadow: 0 0 100px 0 #0f0;
  }
  
  .glass-style-card .circle {
    width: 100px;
    height: 100px;
    background: radial-gradient(#b0e633, #53ef7d);
    border-radius: 50%;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
  }
  
  .glass-style-card .circle:nth-child(1) {
    top: -25px;
    left: -25px;
  }
  
  .glass-style-card .circle:nth-child(2) {
    bottom: -25px;
    right: -25px;
    animation-name: move-down1;
  }

  @keyframes move-upanddown{

    from{
      transform: translate(30%, 60%) rotate(15deg);
    }
    to{
      transform: translate(30%, 40%) rotate(-15deg);
    }
  }
  
  @keyframes move-up6 {
    to {
      transform: translateY(-10px);
    }
  }
  
  @keyframes move-down1 {
    to {
      transform: translateY(10px);
    }
  }

  .learn-more {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    width: 60%;
   }
   
   
   .learn-more .learn-more-circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #26a356;
    border-radius: 1.625rem;
   }
   
   .learn-more .learn-more-circle .learn-more-icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   .learn-more .learn-more-circle .learn-more-icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   .learn-more .learn-more-circle .learn-more-icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   .learn-more .learn-more-button-text {
    transition: 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 30px;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #26a356;
    font-weight: 700;
    line-height: 1.6;
    text-align: left;
    text-transform: uppercase;
   }


   
   .learn-more:hover .learn-more-circle {
    width: 100%;
    background: #00da00;
    box-shadow: 0 0 30px 5px #0f0;
   }
   
   .learn-more:hover .learn-more-circle .learn-more-icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   .learn-more:hover .learn-more-button-text {
    color: #fff;

   }
   .rent-it-button-contaner{
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1000;
    margin: 20px;
    background-color: transparent;
    animation: rent-it-button-contaner-animation 2s linear infinite alternate-reverse ;
  }

    @keyframes rent-it-button-contaner-animation{
      0%{
        transform: scale(1);
      }
      4%{
        transform: scale(1.1);
      }
      8%{
        transform: scale(1);
      }
    }  


   .rentitButton {
    padding: 1.1em 2em;
    background: none;
    border: 2px solid #fff;
    font-size: 15px;
    color: #131313;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: #93e200aa;
    font-weight: bolder;
    transform: rotate3d(0);
    box-shadow: 0 10px 0 2px #000;
   }
   
   .rentitButton:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #FFD700;

    top: 50%;
    transform: skewX(30deg) translate(-150%, -50%);
    transition: all 0.5s;
   }
   
   .rent-it-button-contaner:hover .rentitButton {
    background-color: #93e200;
    color: #fff;
    transform: rotate3d(1, 0, 0, 45deg);
    box-shadow: 0 0px 10px 5px #00ff00;
   }
   
   .rent-it-button-contaner:hover .rentitButton::before {
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
   }
   
   .rentitButton:active {
    transform: scale(0.9);
   }

   .rent-it-button-contaner span{
    position: absolute;
    font-size: 5rem;
    z-index: -10;
    color: #00da00;
    transform: translate(30%, -10%) rotate(2deg);
    opacity: 0;
    top: 0%;
    transition: .4s linear;
    
  }
  .rent-it-button-contaner:hover span{
    transform: translate(30%, -80%);
    animation: rent-it-button 2s ease-in infinite alternate-reverse ;
    top: -100%;
    opacity: 100%;
   }
  @keyframes rent-it-button{
    from{
      transform: translate(30%, -10%) rotate(3deg);
      text-shadow: 1px 1px #000,
      -1px -1px #000,
      1px -1px #000,
      -1px 1px #000,
       0 0 30px #0f0;

    }
    to{
      transform: translate(30%, -10%) rotate(-3deg);
      text-shadow: 1px 1px #000,
      -1px -1px #000,
      1px -1px #000,
      -1px 1px #000,
      0 0 50px #69da69;
    }
  }

  .notAllowedButton {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1000;
    margin: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 15px 20px;
    background-color: #212121;
    border: none;
    font: inherit;
    color: #e8e8e8;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50px;
    cursor: not-allowed;
    overflow: hidden;
    transition: all 0.3s ease cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .notAllowedButton span {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
  }
  
  .notAllowedButton::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    translate: 0 105%;
    background-color: #F53844;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .notAllowedButton svg {
    width: 32px;
    height: 32px;
    fill: #F53844;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .notAllowedButton:hover {
    animation: shake 0.2s linear 1;
  }
  
  .notAllowedButton:hover::before {
    translate: 0 0;
  }
  
  .notAllowedButton:hover svg {
    fill: #e8e8e8;
  }
  
  @keyframes shake {
    0% {
      rotate: 0deg;
    }
  
    33% {
      rotate: 10deg;
    }
  
    66% {
      rotate: -10deg;
    }
  
    100% {
      rotate: 10deg;
    }
  }

  .deRentItButton {
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
  
  .deRentItButton:hover {
    box-shadow: .5px .5px 150px #252525;
  }
  
  .deRentItButton-type1::after {
    content: "are you sure";
    height: 50px;
    width: 150px;
    background-color: #008080;
    color: #fff;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(50px);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  
  .deRentItButton-type1::before {
    content: "Hover Me";
    height: 50px;
    width: 150px;
    background-color: #fff;
    color: #008080;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(0px) scale(1.2);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  
  .deRentItButton-type1:hover::after {
    transform: translateY(0) scale(1.2);
  }
  
  .deRentItButton-type1:hover::before {
    transform: translateY(-50px) scale(0) rotate(120deg);
  }

  .addbutton {
    border: 2px solid green;
    background-color: green;
    border-radius: 0.9em;
    padding: 0.8em 1.2em 0.8em 1em;
    transition: all ease-in-out 0.2s;
    font-size: 16px;
   }
   
   .addbutton span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
   }
   
   .addbutton:hover {
    background-color: white;
   }

   .commenterpage {
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(24, 20, 20, 0.987);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .commenterpage .commenter {
    position: relative;
  }
  
  .commenterpage .commenter .input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  
  .commenterpage .commenter label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .commenterpage .comment .input:focus ~ label,
  .commenterpage .comment .input:valid ~ label {
    top: -20px;
    left: 0;
    color: #bdb8b8;
    font-size: 12px;
  }
  
  .commenterpage form button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    background-color: transparent;
    border: none;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .commenterpage button:hover {
    background: #03f40f;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03f40f,
                0 0 25px #03f40f,
                0 0 50px #03f40f,
                0 0 100px #03f40f;
  }
  
  .commenterpage button span {
    position: absolute;
    display: block;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
  
    50%,100% {
      left: 100%;
    }
  }
  
  .commenterpage button span:nth-child(1) {
    bottom: 2px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03f40f);
    animation: btn-anim1 2s linear infinite;
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}